deployment/global-s3-assets/
deployment/open-source/
deployment/regional-s3-assets/
deployment/test/
deployment/ecr/

__pycache__/
.pytest_cache/
.cache/
.eggs/
*.egg-info/
.coverage
.venv/
.DS_Store

source/node_modules/
source/services/**/node_modules
source/resources/node_modules
source/services/**/dist/
source/services/*/utils
source/build
cdk.out
coverage
node_modules

.idea


# local environment file is user-specific and shouldn't be comitted
.nightswatch/functional/.env